<h1> Edit Eat Record</h1>

<p>ユーザ名: <%= link_to current_user.email, edit_user_registration_path %></p>

<%= render "form", eat_record: @eat_record %>

<%= link_to "戻る", eat_record_path(@eat_record) %>
