<div class="map">
  <div id="map">
  </div>
</div>

<%= javascript_include_tag 'gmap.js' %>
<input type="hidden" id=longitude value="<%= current_user.longitude %>">
<input type="hidden" id=latitude value="<%= current_user.latitude %>">
<script src="http://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer>
</script>
