ul {
    list-style:none;
}

span.eatrec-row1 {
    float:left;
}

span.eatrec-row2 {
    display: block;
    margin-left: 180px;
}

span.shop-row1 {
    float:left;
}

span.shop-row2 {
    display: block;
    margin-left: 120px;
}

span.shop-row3 {
    display: block;
    margin-left: 80px;
}

span.shop-row4 {
    display: block;
    margin-left: 240px;
}

span.shop-row5 {
    display: block;
    margin-left: 80px;
}

span.shop-row6 {
    display: block;
    margin-left: 80px;
}

#map {
    height: 600px;
    width:  800px;
}
